PORT = 8080 

# database name and password
databaseName = 
DATABASE_PASSWORD=

# google callback id and urls 
client_ID_google =
client_secret_google =

# nodemailer email pass
user_email=
email_password=


# jwt
Secret_KEY=
expiry_time=

# cloudinary
cloud_name=
cloud_Api_key=
cloud_Api_Secret_key=

# email front-end link
emailFrontEndLink=
verifyUserLink=
frontendSignPage=
backendLink=